Repository wialy/power-of-two: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint

.lintstagedrc:

{
	"*.ts": ["prettier --list-different", "eslint"],
	"*.tsx": ["prettier --list-different", "eslint"],
	"*.md": "prettier --list-different",
	"*.html": "prettier --list-different"
}

feat(editor): added getIdEntities to parse level id
  src/features/editor/utils/get-id-entities/get-id-entities.ts
  src/features/editor/utils/get-id-entities/index.ts
Due: prettier --list-different, eslint

feat(ui): basic episodes and level selection
  src/features/ui/components/episode-list-item/episode-list-item.module.css
  src/features/ui/components/episode-list-item/episode-list-item.tsx
  src/features/ui/components/episode-list-item/index.ts
  src/features/ui/components/episodes-view/episodes-view.module.css
  src/features/ui/components/episodes-view/episodes-view.tsx
  src/features/ui/components/episodes-view/index.ts
  src/features/ui/components/game-view/game-view.tsx
  src/features/ui/components/game-view/index.ts
  src/features/ui/components/level-list-item/index.ts
  src/features/ui/components/level-list-item/level-list-item.module.css
  src/features/ui/components/level-list-item/level-list-item.tsx
  src/features/ui/components/levels-view/index.ts
  src/features/ui/components/levels-view/levels-view.module.css
  src/features/ui/components/levels-view/levels-view.tsx
  src/game.tsx
  src/global.css
Due: prettier --list-different, eslint

chore(release): 1.6.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c40bd2cd04270295845a35c4cf762cff0e2abe13
Due: none

refactor(editor): removed unused eslint directives
  src/features/editor/components/entities-sidebar/entities-sidebar.tsx
  src/features/editor/components/level-info-sidebar/level-info-sidebar.tsx
Due: prettier --list-different, eslint

feat(ui): added Layout, Screen and ScreenContainer components
  src/features/ui/components/layout/index.ts
  src/features/ui/components/layout/layout.module.css
  src/features/ui/components/layout/layout.tsx
  src/features/ui/components/screen-container/index.ts
  src/features/ui/components/screen-container/screen-container.module.css
  src/features/ui/components/screen-container/screen-container.tsx
  src/features/ui/components/screen/index.ts
  src/features/ui/components/screen/screen.module.css
  src/features/ui/components/screen/screen.tsx
Due: prettier --list-different, eslint

feat(ui): added screen to game state
  package-lock.json
  package.json
  src/features/game/hooks/use-game-state/use-game-state.ts
  src/features/game/types.ts
  src/features/ui/components/episode-list-item/episode-list-item.tsx
  src/features/ui/components/level-list-item/level-list-item.tsx
  src/game.tsx
Due: prettier --list-different, eslint

feat(engine): added getHash function
  src/features/engine/utils/get-hash/get-hash.ts
  src/features/engine/utils/get-hash/index.ts
  src/features/engine/utils/get-resolution/get-resolution.ts
Due: prettier --list-different, eslint

feat(game): counting game moves
  src/features/game/hooks/use-game-state/use-game-state.ts
  src/features/game/hooks/use-game/use-game.ts
Due: prettier --list-different, eslint

feat(ui): added win and lost screens
  src/features/game/constants.ts
  src/features/game/hooks/use-game-state/use-game-state.ts
  src/features/game/hooks/use-game/use-game.ts
  src/features/game/types.ts
  src/features/ui/components/episodes-screen/episodes-screen.module.css
  src/features/ui/components/episodes-screen/episodes-screen.tsx
  src/features/ui/components/episodes-screen/index.ts
  src/features/ui/components/game-screen/game-screen.module.css
  src/features/ui/components/game-screen/game-screen.tsx
  src/features/ui/components/game-screen/index.ts
  src/features/ui/components/game-view/game-view.tsx
  src/features/ui/components/layout/layout.module.css
  src/features/ui/components/layout/layout.tsx
  src/features/ui/components/level-list-item/level-list-item.tsx
  src/features/ui/components/levels-screen/index.ts
  src/features/ui/components/levels-screen/levels-screen.module.css
  src/features/ui/components/levels-screen/levels-screen.tsx
  src/features/ui/components/navigation/index.ts
  src/features/ui/components/navigation/navigation.module.css
  src/features/ui/components/navigation/navigation.tsx
  src/features/ui/components/out-of-moves-screen/index.ts
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.module.css
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.tsx
  src/features/ui/components/screen/screen.module.css
  src/features/ui/components/screen/screen.tsx
  src/features/ui/components/win-screen/index.ts
  src/features/ui/components/win-screen/win-screen.module.css
  src/features/ui/components/win-screen/win-screen.tsx
  src/game.tsx
  src/global.css
Due: prettier --list-different, eslint

chore(release): 1.7.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  abf0212d05f82d30621f9a7b937e9df3e86aa265
Due: none

feat(ui): added win and lost screen improvements
  src/features/game/hooks/use-game-state/use-game-state.ts
  src/features/ui/components/board-view/board-view.tsx
  src/features/ui/components/navigation/navigation.tsx
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.tsx
  src/features/ui/components/win-screen/win-screen.tsx
Due: prettier --list-different, eslint

feat(game): added sample levels
  public/levels/00012ooooooqr.json
  public/levels/00123ooot.json
  public/levels/0012RSoooooor.json
  public/levels/00DRmmmooooooqq.json
  public/levels/00DRmmoooqq.json
  public/levels/00Dmmooooooqq.json
  public/levels/00Doooqq.json
  public/levels/00ooooooooooow.json
  public/levels/00ow.json
  public/levels/0Doooq.json
  public/levels/episodes.json
Due: none

chore(release): 1.8.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  4d1c976072679257547dc2e4dc477ec845c248c0
Due: none

feat(ui): updated responsive styles and font
  index.html
  src/features/ui/components/board-view/board-view.tsx
  src/features/ui/components/navigation/navigation.module.css
  src/features/ui/components/navigation/navigation.tsx
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.module.css
  src/features/ui/components/screen/screen.module.css
  src/features/ui/components/win-screen/win-screen.module.css
  src/global.css
  src/index.css
Due: prettier --list-different, eslint

feat(ui): added logo and title screen
  src/features/game/hooks/use-game-state/use-game-state.ts
  src/features/game/types.ts
  src/features/ui/components/logo/index.ts
  src/features/ui/components/logo/logo.module.css
  src/features/ui/components/logo/logo.tsx
  src/features/ui/components/title-screen/index.ts
  src/features/ui/components/title-screen/title-screen.module.css
  src/features/ui/components/title-screen/title-screen.tsx
  src/game.tsx
Due: prettier --list-different, eslint

chore(ui): minor styles adjustments
  src/features/ui/components/button/button.module.css
  src/features/ui/components/button/button.tsx
  src/features/ui/components/entity-view/entity-view.tsx
  src/features/ui/components/episode-list-item/episode-list-item.module.css
  src/features/ui/components/episode-list-item/episode-list-item.tsx
  src/features/ui/components/navigation/navigation.module.css
  src/features/ui/components/navigation/navigation.tsx
  src/features/ui/components/screen/screen.module.css
  src/features/ui/components/win-screen/win-screen.module.css
  src/features/ui/components/win-screen/win-screen.tsx
  src/global.css
Due: prettier --list-different, eslint

feat(game): added highscores state
  src/features/game/hooks/use-game/use-game.ts
  src/features/game/hooks/use-highscores/index.ts
  src/features/game/hooks/use-highscores/use-highscores.ts
Due: prettier --list-different, eslint

feat(game): added locked levels
  src/features/ui/components/episode-list-item/episode-list-item.module.css
  src/features/ui/components/level-list-item/level-list-item.module.css
  src/features/ui/components/level-list-item/level-list-item.tsx
  src/features/ui/components/levels-view/levels-view.module.css
  src/features/ui/components/levels-view/levels-view.tsx
Due: prettier --list-different, eslint

feat(game): added couple of new episodes
  public/levels/000LRmoooooooqw.json
  public/levels/000LRooooqw.json
  public/levels/episodes.json
Due: none

chore(release): 1.9.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  33b61e2528d09fe5b43612d2a56a4265226967c7
Due: none

chore(license): updated license and readme
  LICENSE.md
  README.md
Due: prettier --list-different

feat(ui): added icon component and replaced unicode symbols with icons
  src/features/ui/components/button/button.module.css
  src/features/ui/components/icon/icon.tsx
  src/features/ui/components/icon/index.ts
  src/features/ui/components/navigation/navigation.tsx
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.module.css
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.tsx
  src/features/ui/components/win-screen/win-screen.module.css
  src/features/ui/components/win-screen/win-screen.tsx
  src/features/ui/utils/get-arrow-symbol/get-arrow-symbol.ts
Due: prettier --list-different, eslint

chore(config): added vite qrcode plugin
  package-lock.json
  package.json
  vite.config.ts
Due: prettier --list-different, eslint

refactor(ui): added screen context and debounced visibility
  package-lock.json
  package.json
  src/features/ui/components/screen/screen-content.tsx
  src/features/ui/components/screen/screen-provider.tsx
  src/features/ui/components/screen/screen.module.css
  src/features/ui/components/screen/screen.tsx
Due: prettier --list-different, eslint

fix(ui): delayed hotkeys in modals
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen-content.tsx
  src/features/ui/components/out-of-moves-screen/out-of-moves-screen.tsx
  src/features/ui/components/win-screen/win-screen-content.tsx
  src/features/ui/components/win-screen/win-screen.module.css
  src/features/ui/components/win-screen/win-screen.tsx
Due: prettier --list-different, eslint

chore(config): added favicon
  index.html
  public/favicon.png
Due: prettier --list-different

chore(ui): added pad icon to title screen
  src/features/ui/components/button/button.module.css
  src/features/ui/components/icon/icon.tsx
  src/features/ui/components/title-screen/title-screen.tsx
Due: prettier --list-different, eslint

feat(ui): added levels info in episode list item, improved level list item
  src/features/editor/hooks/use-episode-levels/use-episode-levels.ts
  src/features/ui/components/episode-list-item/episode-list-item.module.css
  src/features/ui/components/episode-list-item/episode-list-item.tsx
  src/features/ui/components/episodes-view/episodes-view.module.css
  src/features/ui/components/icon/icon.tsx
  src/features/ui/components/level-list-item/level-list-item.module.css
  src/features/ui/components/level-list-item/level-list-item.tsx
  src/features/ui/components/levels-view/levels-view.tsx
  src/features/ui/components/win-screen/win-screen-content.tsx
Due: prettier --list-different, eslint

refactor(game): made board state globally accessible
  src/editor.tsx
  src/features/editor/components/level-info-sidebar/level-info-sidebar.tsx
  src/features/editor/hooks/use-solution/use-solution.ts
  src/features/game/hooks/use-board/index.ts
  src/features/game/hooks/use-board/use-board.ts
  src/features/game/hooks/use-game/use-game-animation.ts
  src/features/game/hooks/use-game/use-game.ts
Due: prettier --list-different, eslint

feat(game): added hint button
  src/features/ui/components/hint/hint.module.css
  src/features/ui/components/hint/hint.tsx
  src/features/ui/components/hint/index.ts
  src/features/ui/components/icon/icon.tsx
Due: prettier --list-different, eslint

chore(ui): added delay before showing popups
  src/features/game/hooks/use-game-state/use-game-state.ts
  src/features/game/hooks/use-game/use-game.ts
  src/features/ui/components/game-view/game-view.tsx
Due: prettier --list-different, eslint

feat(editor): showing solution in createLevels script
  src/features/editor/scripts/create-levels/create-levels.ts
Due: prettier --list-different, eslint

feat(game): added coins, level rewards and paid hints
  src/features/game/hooks/use-coins/index.ts
  src/features/game/hooks/use-coins/use-coins.ts
  src/features/game/hooks/use-game/use-game.ts
  src/features/game/utils/get-reward.ts
  src/features/game/utils/index.ts
  src/features/ui/components/board-view/board-view.tsx
  src/features/ui/components/button/button.module.css
  src/features/ui/components/game-view/game-view.tsx
  src/features/ui/components/hint/hint.module.css
  src/features/ui/components/hint/hint.tsx
  src/features/ui/components/icon/icon.tsx
  src/features/ui/components/navigation/navigation.module.css
  src/features/ui/components/navigation/navigation.tsx
  src/features/ui/components/win-screen/win-screen-content.tsx
Due: prettier --list-different, eslint

chore(release): 1.10.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c279d875ebe14e96d79becbab691d0fbf0902ed1
Due: none

feat(ui): added Discord and X links on title screen
  src/features/ui/components/button/button.module.css
  src/features/ui/components/icon/icon.tsx
  src/features/ui/components/title-screen/title-screen.module.css
  src/features/ui/components/title-screen/title-screen.tsx
Due: prettier --list-different, eslint
