Repository wialy/power-of-two: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint

chore(config): added Cabin script
  index.html
Due: prettier --list-different

chore(release): 1.11.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  c50ba52e3e43e13655cf952d43d9923c8a9c1bfe
Due: none

fix(game): fixed stucked lock after move
  src/features/game/hooks/use-game/use-game.ts
Due: prettier --list-different, eslint

chore(release): 1.11.1 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  13567136fe5c56c35ae7f12037899e1f461c052f
Due: none

feat(engine): added getResolutionSteps helper
  src/features/engine/utils/get-resolution-steps/get-resolution-steps.test.ts
  src/features/engine/utils/get-resolution-steps/get-resolution-steps.ts
  src/features/engine/utils/get-resolution-steps/index.ts
Due: prettier --list-different, eslint

fix(engine): resolution steps and update tests
  src/features/engine/utils/get-resolution-steps/get-resolution-steps.test.ts
  src/features/engine/utils/get-resolution-steps/get-resolution-steps.ts
Due: prettier --list-different, eslint

refactor(engine): update code to use getResolutionSteps
  src/features/editor/hooks/use-solution/use-solution.ts
  src/features/editor/scripts/create-levels/create-levels.ts
  src/features/ui/components/hint/hint.tsx
Due: prettier --list-different, eslint

fix(engine): fix getIsResolved logic to check the number of targets and dices
  src/features/engine/utils/get-resolution/get-resolution.ts
Due: prettier --list-different, eslint

feat(editor): added `save` option to create-levels script
  src/features/editor/scripts/create-levels/index.ts
Due: prettier --list-different, eslint

feat(levels): added tests for levels
  package-lock.json
  package.json
  src/__tests__/levels.test.ts
  src/features/tests/utils/fetch-public-polyfill/fetch-public-polyfill.ts
  src/features/tests/utils/fetch-public-polyfill/index.ts
Due: prettier --list-different, eslint

refactor(engine): added get-is-resolved and get-is-unsolvable utils
  src/features/engine/utils/get-is-resolved/get-is-resolved.ts
  src/features/engine/utils/get-is-resolved/index.ts
  src/features/engine/utils/get-is-unsolvable/get-is-unsolvable.ts
  src/features/engine/utils/get-is-unsolvable/index.ts
  src/features/engine/utils/get-resolution/get-resolution.ts
Due: prettier --list-different, eslint

feat(ui): added unsolvable screen component
  src/features/game/hooks/use-game/use-game.ts
  src/features/game/types.ts
  src/features/ui/components/unsolvable-screen/index.ts
  src/features/ui/components/unsolvable-screen/unsolvable-screen-content.tsx
  src/features/ui/components/unsolvable-screen/unsolvable-screen.module.css
  src/features/ui/components/unsolvable-screen/unsolvable-screen.tsx
  src/game.tsx
Due: prettier --list-different, eslint

chore(release): 1.12.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  427db60cf37d4d4d8097931ddec49d75896e4728
Due: none

fix(engine): fixed reversed order of symbols in `useSolution` function
  src/features/editor/hooks/use-solution/use-solution.ts
Due: prettier --list-different, eslint

fix(game): added disabling controls when the game is ended
  src/editor.tsx
  src/features/game/hooks/use-game/use-game.ts
  src/features/ui/components/game-view/game-view.tsx
Due: prettier --list-different, eslint

feat(game): replaced all levels
  public/levels/000011LRee.json
  public/levels/0000Dmmoww.json
  public/levels/00012ooooooqr.json
  public/levels/000LRmoooooooqw.json
  public/levels/000LRooooqw.json
  public/levels/000moqw.json
  public/levels/00123ooot.json
  public/levels/0012RSoooooor.json
  public/levels/0012Ummoor.json
  public/levels/0012eemoo.json
  public/levels/0012mmoor.json
  public/levels/0012oooor.json
  public/levels/00DRmmmooooooqq.json
  public/levels/00DRmmoooqq.json
  public/levels/00Dmmooooooqq.json
  public/levels/00Doooqq.json
  public/levels/00ooooooooooow.json
  public/levels/00ow.json
  public/levels/0Doooq.json
  public/levels/episodes.json
Due: none

chore(release): 1.13.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  8a2be15c7233ee5ec68305460333a03358f3ecce
Due: none

feat(game): added `000DUmmooqw` episode
  public/levels/000DUmmooqw.json
  public/levels/episodes.json
Due: none

chore(release): 1.14.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  259f319fb83476bd6fd80165ba762a4fac8c6102
Due: none

fix(ui): update button and list item styles for mobile devices
  src/features/ui/components/button/button.module.css
  src/features/ui/components/episode-list-item/episode-list-item.module.css
  src/features/ui/components/episodes-view/episodes-view.module.css
  src/features/ui/components/level-list-item/level-list-item.module.css
  src/features/ui/components/level-list-item/level-list-item.tsx
  src/features/ui/components/levels-view/levels-view.module.css
  src/features/ui/components/navigation/navigation.module.css
  src/features/ui/components/title-screen/title-screen.module.css
Due: prettier --list-different, eslint

feat(ui): added `EntityPreview` component, updated `EpisodeListItem` and `LevelListItem`
  src/features/ui/components/entity-preview/entity-preview.module.css
  src/features/ui/components/entity-preview/entity-preview.tsx
  src/features/ui/components/entity-view/entity-view.tsx
  src/features/ui/components/episode-list-item/episode-list-item.module.css
  src/features/ui/components/episode-list-item/episode-list-item.tsx
  src/features/ui/components/level-list-item/level-list-item.module.css
  src/features/ui/components/level-list-item/level-list-item.tsx
Due: prettier --list-different, eslint

chore(release): 1.15.0 [skip ci]
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  75942169e13c0d5b0af37869b899713981d0d524
Due: none

feat(engine): added `get-has-priority` and `get-obstacle-position` utility functions
  src/features/engine/utils/get-has-priority/get-has-priority.test.ts
  src/features/engine/utils/get-has-priority/get-has-priority.ts
  src/features/engine/utils/get-has-priority/index.ts
  src/features/engine/utils/get-obstacle-position/get-obstacle-position.test.ts
  src/features/engine/utils/get-obstacle-position/get-obstacle-position.ts
  src/features/engine/utils/get-obstacle-position/index.ts
Due: prettier --list-different, eslint

feat(engine): added `Director` and `Target` entity types
  src/features/engine/types/entities.ts
Due: prettier --list-different, eslint

feat(engine): added `getGroupedByType` utility function
  src/features/engine/utils/get-grouped-by-type/get-grouped-by-type.ts
  src/features/engine/utils/get-grouped-by-type/index.ts
Due: prettier --list-different, eslint

refactor(engine): updated `getHasPriority` function signature
  src/features/engine/utils/get-has-priority/get-has-priority.ts
Due: prettier --list-different, eslint

feat(engine): added `get-ordered-candidates` utility function
  src/features/engine/utils/get-ordered-candidates/get-ordered-candidates.test.ts
  src/features/engine/utils/get-ordered-candidates/get-ordered-candidates.ts
  src/features/engine/utils/get-ordered-candidates/index.ts
Due: prettier --list-different, eslint

feat(engine): added `getPermutations` utility function and tests
  src/features/engine/utils/get-permutations/get-permutations.test.ts
  src/features/engine/utils/get-permutations/get-permutations.ts
  src/features/engine/utils/get-permutations/index.ts
Due: prettier --list-different, eslint

feat(engine): added `merge-dices` utility function
  src/features/engine/utils/merge-dices/index.ts
  src/features/engine/utils/merge-dices/merge-dices.ts
Due: prettier --list-different, eslint

refactor(engine): updated logic in `get-next-board-final-state` and added more tests
  src/features/engine/utils/get-next-board-final-state/__tests__/three-dices-approaching-director.test.ts
  src/features/engine/utils/get-next-board-final-state/__tests__/two-same-dices-taking-one-floor.test.ts
  src/features/engine/utils/get-next-board-final-state/get-next-board-final-state.ts
Due: prettier --list-different, eslint

fix(engine): updated `getLevelId` function to filter out removed entities
  src/features/editor/utils/get-level-id/get-level-id.ts
Due: prettier --list-different, eslint

fix(engine): added check for removed entities in `getCanMerge` function
  src/features/engine/utils/get-can-merge/get-can-merge.ts
Due: prettier --list-different, eslint

refactor(engine): updated `get-by-position` and `get-next-board-state` utils
  src/__tests__/levels.test.ts
  src/features/engine/utils/get-by-position/get-by-position.ts
  src/features/engine/utils/get-next-board-final-state/__tests__/three-dices-approaching-director.test.ts
  src/features/engine/utils/get-next-board-state/__tests__/one-from-director.test.ts
  src/features/engine/utils/get-next-board-state/__tests__/one-moving-at-stop.test.ts
  src/features/engine/utils/get-next-board-state/__tests__/passing-velocity.test.ts
  src/features/engine/utils/get-next-board-state/__tests__/two-movables-to-empty.test.ts
  src/features/engine/utils/get-next-board-state/get-next-board-state.ts
Due: prettier --list-different, eslint

feat(game): updated levels
  public/levels/000011LRee.json
  public/levels/0000Dmmoww.json
  public/levels/000DUmmooqw.json
  public/levels/000moqw.json
  public/levels/0012Ummoor.json
  public/levels/0012eemoo.json
  public/levels/0012mmoor.json
  public/levels/0012oooor.json
  public/levels/episodes.json
Due: none

Path conditions:
  prettier --list-different: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.html)
  eslint: (any of: *.ts) or (any of: *.tsx)
